@model CorePracticeWebApp.ViewModels.MemberVm
@{
    ViewData["Title"] = "MemberForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Member.FirstName @Model.Member.LastName</h2>
<div class="row">
    @using (Html.BeginForm(Model.ViewMode, "Member", FormMethod.Post))
    {
        <div class="col-lg-12">
            <div class="hiddenFields">
                @Html.HiddenFor(m => m.Member.Id)
                @Html.HiddenFor(m => m.Member.IsActive)
                @Html.HiddenFor(m => m.ViewMode)
            </div>
            <div class="col-lg-6">
                @Html.LabelFor(m => m.Member.FirstName)
                @Html.TextBoxFor(m => m.Member.FirstName, new { @class = "form-control ", @required = "true" })
            </div>
            <div class="col-lg-6">
                @Html.LabelFor(m => m.Member.LastName)
                @Html.TextBoxFor(m => m.Member.LastName, new { @class = "form-control ", @required = "true"})
            </div>
            <div class="col-lg-6">
                @Html.LabelFor(m => m.Member.StreetAddress)
                @Html.TextBoxFor(m => m.Member.StreetAddress, new { @class = "form-control ", @required = "true" })
            </div>
            <div class="col-lg-6">
                @Html.LabelFor(m => m.Member.City)
                @Html.TextBoxFor(m => m.Member.City, new { @class = "form-control ", @required = "true" })
            </div>
            <div class="col-lg-6">
                @Html.LabelFor(m => m.Member.State)
                @Html.TextBoxFor(m => m.Member.State, new { @class = "form-control ", @required = "true" })
            </div>
            <div class="col-lg-6">
                @Html.LabelFor(m => m.Member.Country)
                @Html.TextBoxFor(m => m.Member.Country, new { @class = "form-control", @required = "true" })
            </div>
            <div class="col-lg-6">
                @Html.LabelFor(m => m.Member.DateOfBirth)
                @Html.TextBoxFor(m => m.Member.DateOfBirth, new { @class = "form-control datePicker", @required = "true" })
            </div>
            <div class="col-lg-6">
                @Html.LabelFor(m => m.Member.DateofBap)
                @Html.TextBoxFor(m => m.Member.DateofBap, new { @class = "form-control datePicker", @required = "true" })
            </div>
            <div class="col-lg-12" style="padding:5px">
                <center>
                    <button class="btn btn-default updateBtn">Update Member</button>
                    <button class="btn btn-default addBtn">Add Member</button>
                    <a href="#" class="btn btn-primary printBtn" role="button" aria-pressed="true">Print</a>
                </center>
            </div>


        </div>


    }
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $(".datePicker").datepicker();
            var viewMode = $('#ViewMode').val();

            switch (viewMode) {
                case "readonly":
                    $(".form-control").attr("disabled", "disabled");
                    $(".addBtn").hide();
                    $(".updateBtn").hide();
                    break;
                case "edit":
                    $(".addBtn").hide();
                    break;
                case "add":
                    $(".updateBtn").hide();
                    $('.printBtn').hide();
                    break;
                default:
                    //dosomething
                    break;
            }

            if (viewMode == "readonly") {
                $(".form-control").attr("disabled", "disabled");
                $(".updateBtn").hide();
            }
        });
    </script>
}


