@model CorePracticeWebApp.Models.Members
@{
    ViewData["Title"] = "MemberForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MemberForm</h2>
<div class="row">
    @using (Html.BeginForm())
    {
        <div class="col-lg-12">
            <div class="hiddenFields">
                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.IsActive)
            </div>
            <div class="col-lg-6">
                @Html.LabelFor(m => m.FirstName)
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            </div>
            <div class="col-lg-6">
                @Html.LabelFor(m => m.LastName)
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            </div>
            <div class="col-lg-6">
                @Html.LabelFor(m => m.StreetAddress)
                @Html.TextBoxFor(m => m.StreetAddress, new { @class = "form-control" })
            </div>
            <div class="col-lg-6">
                @Html.LabelFor(m => m.City)
                @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
            </div>
            <div class="col-lg-6">
                @Html.LabelFor(m => m.State)
                @Html.TextBoxFor(m => m.State, new { @class = "form-control" })
            </div>
            <div class="col-lg-6">
                @Html.LabelFor(m => m.Country)
                @Html.TextBoxFor(m => m.Country, new { @class = "form-control" })
            </div>
            <div class="col-lg-6">
                @Html.LabelFor(m => m.DateOfBirth)
                @Html.TextBoxFor(m => m.DateOfBirth, new { @class = "form-control datePicker" })
            </div>
            <div class="col-lg-6">
                @Html.LabelFor(m => m.DateofBap)
                @Html.TextBoxFor(m => m.DateofBap, new { @class = "form-control datePicker" })
            </div>
            <div class="col-lg-12" style="padding:5px">
                <center>
                    <button class="btn btn-primary">submit</button>
                </center>
            </div>


        </div>


    }
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $(".datePicker").datepicker();
        });
    </script>
}


